.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.display-flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical-line{
    width: 1px;
    height: 200px;
    margin: 2px;
}